@font-face {
  font-family: 'PixelOperator';
  src: url('../fonts/pixel-operator.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PixelOperator';
  src: url('../fonts/pixel-operator-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}